<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Show Place</h1>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<b>Name:</b> <%= @place.name %>	<br>
		<b>Address:</b> <%= @place.address %> - <%= "#{@place.neighborhood.name}, #{@place.neighborhood.city}/PE" %> <br>
		<b>Phone:</b> <%= @place.phone %>	<br>
		<b>Latitude:</b> <%= @place.latitude %>	<br>
		<b>Longitude:</b> <%= @place.longitude %>	<br><br>
		<b>Schedules</b> <br>
		<% @place.schedules.each do |schedule| %>
			- <%= schedule.day_of_week %>: <%= schedule.operating_hour %><br>
		<% end %>
		<br>
		<b>Infos:</b><br>
		<% @place.infos.each do |info| %>
			- <%= "<i class='fa fa-#{info.icon} fa-fw'></i> #{info.title}".html_safe %><br>
		<% end %>
		<br>
		<b>Image:</b><br>
		<%= image_tag @place.image(:default) %>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<br>
		<%= link_to 'Edit', edit_cms_place_path(@place) %> |
		<%= link_to 'Back', cms_places_path %>
	</div>
</div>
