<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Infos</h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to 'Add Info', new_cms_info_path, class: 'btn btn-primary' %>
      </div>
        <!-- /.panel-heading -->
        <div class="panel-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>title</th>
                  <th>icon</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              <% @infos.each do |info| %>
                <tr>
                  <td><%= info.id %></td>
                  <td><%= info.title %></td>
                  <td><%= "<i class='fa fa-#{info.icon} fa-fw'></i>".html_safe %></td>
                  <td>
                    <%= link_to cms_info_path(info) do %>
                      <i class='fa fa-eye fa-fw'></i>
                    <% end %>
                    <%= link_to edit_cms_info_path(info) do %>
                      <i class='fa fa-pencil-square-o fa-fw'></i>
                    <% end %>
                    <%= link_to cms_info_path(info), method: :delete, data: { confirm: 'Are you sure?' } do %>
                      <i class='fa fa-trash-o fa-fw' title="delete"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>
          <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
</div>
