<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Show Franchise</h1>
  </div>
</div>

<div class="row">
	<div class="col-lg-12">
		<b>Logo:</b><br>
		<%= image_tag @franchise.logo(:default) %>
		<br><br>
		<b>Image:</b><br>
		<%= image_tag @franchise.image(:default) %>
		<br><br>
		<b>Name:</b> <%= @franchise.name %>	<br>
		<b>Summary:</b> <%= simple_format(@franchise.summary) %>	<br>
		<b>Categories:</b><br>
		<% @franchise.categories.each do |c| %>
			- <%= c.name %><br>
		<% end %>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
		<br>
		<%= link_to 'Edit', edit_cms_franchise_path(@franchise) %> |
		<%= link_to 'Back', cms_franchises_path %>
	</div>
</div>
