<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Dashboard</h1>
    </div>
</div>

<div class="row">
    <div class="col-lg-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-eye fa-fw"></i> General View
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <%= link_to cms_admins_path, class: "list-group-item" do %>
                        <i class="fa fa-users fa-fw"></i> Admins
                        <span class="pull-right text-muted small"><em><%= Admin.count %></em>
                        </span>
                    <% end %>
                    <%= link_to cms_highlights_path, class: "list-group-item" do %>
                        <i class="fa fa-star fa-fw"></i> Highlights
                        <span class="pull-right text-muted small"><em><%= Highlight.count %></em>
                        </span>
                    <% end %>
                    <%= link_to cms_places_path, class: "list-group-item" do %>
                        <i class="fa fa-map-marker fa-fw"></i> Places
                        <span class="pull-right text-muted small"><em><%= Place.count %></em>
                        </span>
                    <% end %>
                    <%= link_to cms_franchises_path, class: "list-group-item" do %>
                        <i class="fa fa-cutlery fa-fw"></i> Restaurants
                        <span class="pull-right text-muted small"><em><%= Franchise.count %></em>
                        </span>
                    <% end %>
                    <%= link_to cms_categories_path, class: "list-group-item" do %>
                        <i class="fa fa-navicon fa-fw"></i> Categories
                        <span class="pull-right text-muted small"><em><%= Category.count %></em>
                        </span>
                    <% end %>
                    <%= link_to cms_infos_path, class: "list-group-item" do %>
                        <i class="fa fa-info fa-fw"></i> Infos
                        <span class="pull-right text-muted small"><em><%= Info.count %></em>
                        </span>
                    <% end %>
                </div>
                <!-- /.list-group -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
    <!-- /.col-lg-3 -->
    <div class="col-lg-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-star fa-fw"></i> Published Highlights
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="list-group">
                    <% @published_highlights.each do |highlight| %>
                        <%= link_to cms_highlight_path(highlight), class: "list-group-item" do %>
                            <%= highlight.generic_title %>
                            <br>
                            <b>type:</b> <%= highlight.highlight_type %>
                        <% end %>
                    <% end %>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>
</div>